<p class=""fields>

  <%= f.label :fact_text, "Fact" %><br />
  <%= f.text_area :fact_text %>

  <%= f.label :notes, "Notes" %><br />
  <%= f.text_area :notes %>

  Tags:




  <%= f.hidden_field :_destroy %>
  <%# link_to_function "remove", "remove_fields(this)" %>

</p>