<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fact Entry</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<div id="wrapper" class="container">
    <h1>Fact Entry</h1>
    <hr>
    <h4>Enter Source Info</h4>

    <body ng-controller="ItemController">
    <%= javascript_tag do %>
        var facts = <%= @source.facts.to_json.html_safe %>;
        var fact_tags = <%= Array.new.to_json.html_safe %>;
    <% end %>


    <%= link_to 'Back', sources_path %>

    </body>
</div>-->
<%= form_for @source do |f| %>

    <p>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </p>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :authors %>
      <%= f.text_field :authors %>
    </p>

    <p>
      <%= f.label :date_published %>
      <%= f.date_select :date_published, {:start_year => 1970, :end_year => Time.now.year} %>
    </p>

    <p>
      <%= f.label :original_source %>
      <%= f.select :original_source, Source::ORIG_SOURCE_OPTIONS.map { |s| "#{s}" } %>
    </p>

    <%= f.fields_for :facts do |fact| %>
        <%= render 'fact_fields', f: fact  %>
    <% end %>
    <%= link_to_add_association 'add fact', f, :facts %>
    <br>
    <p><%= f.submit %></p>
<% end %>
