



<!DOCTYPE html>
<html lang="en">
<head>
  <title>Facts Just Added</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>


<% if notice %>
  <div class="well well-sm"><p id="notice"><%= notice %></p></div>
<% end %>
<h4>All of the facts were entered with the following source information:</h4>

<p><strong>Title:</strong> <%= @source.title %></p>
<p><strong>URL:</strong> <%= @source.url %></p>
<p><strong>Authors:</strong> <%= @source.authors %></p>
<p><strong>Date Published:</strong> <%= @source.date_published%></p>
<p><strong>Original Source:</strong> <%= @source.original_source %></p>

<br>

<h4>The following facts were entered:</h4>
<table class="table">
<thead>
<tr>
  <th>Fact</th>
  <th>Notes</th>
  <th>Tags</th>
  <th>See</th>
</tr>
</thead>
<tbody>
<% @source.facts.each_with_index do |fact, index| %>
    <tr>
      <td><p><%= fact.fact_text %></p></td>
      <td><p><%= fact.notes %></p></td>
      <td>
        <p>
          <% @tags_list[index].each do |tag| %>
              <kbd><%= tag %></kbd>
          <% end %>
        </p>
      </td>
      <td><%= link_to 'Show Fact', '/facts/' + fact.id.to_s %></td>
    </tr>
<% end %>
</tbody>
</table>

<%= link_to 'Edit', edit_source_path(@source) %> |
<A HREF="previous.html" onClick="history.back();return false;">Go back</A>


