



  <p id="notice"><%= notice %></p>

  <h1>Listing Facts</h1>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fact</th>
          <th>See</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <% @facts.each do |fact| %>
          <tr>
            <td>#<%= fact.id %></td>
            <td><%= fact.fact_text%></td>
            <td><%= link_to 'Show', fact %></td>
            <td><%= link_to 'Edit', edit_fact_path(fact) %></td>
            <td><%= link_to 'Destroy', fact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
