<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
      $(function() {

          var tags_list = <%= raw @ac_tags_list %>;
          var cats_list = <%= raw @ac_cats_list %>;


          function split( val ) {
              return val.split( /,\s*/ );
          }
          function extractLast( term ) {
              return split( term ).pop();
          }

          $( "#tags_search" )
                  .autocomplete({
                      minLength: 0,
                      source: function( request, response ) {
                          response( $.ui.autocomplete.filter(
                                  tags_list, extractLast( request.term ) ) );
                      },
                      focus: function() {
                          return false;
                      },
                      select: function( event, ui ) {
                          var terms = split( this.value );
                          // remove the current input
                          terms.pop();
                          // add the selected item
                          terms.push( ui.item.value );
                          // add placeholder to get the comma-and-space at the end
                          terms.push( "" );
                          this.value = terms.join( ", " );
                          return false;
                      }
                  });
          $( "#cats_search" )
                  .autocomplete({
                      minLength: 0,
                      source: function( request, response ) {
                          response( $.ui.autocomplete.filter(
                                  cats_list, extractLast( request.term ) ) );
                      },
                      focus: function() {
                          return false;
                      },
                      select: function( event, ui ) {
                          var terms = split( this.value );
                          // remove the current input
                          terms.pop();
                          // add the selected item
                          terms.push( ui.item.value );
                          // add placeholder to get the comma-and-space at the end
                          terms.push( "" );
                          this.value = terms.join( ", " );
                          return false;
                      }
                  });
      });
  </script>
</head>
<body>



<% if notice %>
    <div class="well well-sm"><p id="notice"><%= notice %></p></div>
<% end %>


<h1>Fast Facts</h1>
<hr>
<h2>Filter By</h2>

      <%= form_tag('/facts/view', :method => :get) do  %>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" id="tag_button">
                  <input type="radio" name="searching_by_what?" id="1" value="searching_by_tags"> Tags
                </label>

                <label class="btn btn-primary" id="category_button">
                  <input type="radio" name="searching_by_what?" id="2" value="searching_by_cats"> Categories
                </label>
              </div>
              <br><br>
              <div class="ui-widget" id="mytags">
                <label for="mytags">Tags: </label>
                <input id="tags_search" name="tags_input" size="100">
              </div>
            <div class="ui-widget" id="mycategories">
              <label for="mycategories">Categories: </label>
              <input id="cats_search" name="category_input" size="100">
            </div>
              <div id="andordiv" colspan="3">
                  <label id="label1"><input type="radio" name="andor" id="andor1" value="or"> Includes at least one of these</label><br>
                  <label id="label2"><input type="radio" name="andor" id="andor2" value="and"> ALL of these</label>
              </div>
              <hr>
    <h2>Sort By</h2>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" id="tags_sort_button">
                  <input type="radio" id="3" name="sort_by_what?" value="tag_words"> Tag words
                </label>
                <label class="btn btn-primary" id="titles_sort_button">
                  <input type="radio" id="4" name="sort_by_what?" value="source_title"> Source title
                </label>
                <label class="btn btn-primary" id="dates_sort_button">
                  <input type="radio" id="5" name="sort_by_what?" value="source_date"> Source publication date
                </label>
              </div>

              <br><br>
              <%= select_tag :sort_by_tags, "<option value='asc'>Alphabetical A -> Z</option><option value='desc'>Alphabetical Z-A</option>".html_safe%>
              <%= select_tag :sort_by_titles, "<option value='asc'>Alphabetical A -> Z</option><option value='desc'>Alphabetical Z-A</option>".html_safe%>
              <%= select_tag :sort_by_dates, "<option value='desc'>Newer -> Older</option><option value='asc'>Older -> Newer</option>".html_safe%>

              <br><br>
              <%= submit_tag("Search") %>


        <% end %>

    </table>



    <table class="table">
      <thead>
      <tr>
        <th>Tags</th>
        <th>Fact</th>
        <th>Source</th>
        <th>Source Publication Date</th>
        <th>See</th>
      </tr>
      </thead>

      <tbody>
      <% @facts_to_show.each_with_index do |fact| %>
          <tr>
            <td>
              <p>
                <% @tags_list[fact.id].each do |tag| %>
                    <kbd><%= tag %></kbd><br>
                <% end %>
              </p>
            </td>
            <td><%= fact.fact_text%></td>
            <td><%= fact.source.title %></td>
            <td><%= fact.source.date_published %></td>
            <td><%= link_to 'Show', fact %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>
</body>

</html>


