
<body>


<h1>New Tag</h1>
<%= form_for(@tag) do |f| %>
  <div class="field">
    <%= f.label :tag_word %><br>
    <%= f.text_field :tag_word %>
  </div>

    <div class="field">
      <%= f.label :category %><br>
      <%= f.collection_select(:category_id, Category.all, :id, :category_name) %>
    </div>

  <br />

  <div class="actions">
    <%= f.submit %>
  </div>


  <%= link_to 'Back', tags_path %>

<% end %>
