<div style="background: #2ba6cb">
    <div class="container">
        <h4 style="padding: 15px;">
            Useful links for Data Entry:
            <%= link_to 'Fact Entry', '/sources/new' %> |
            <%= link_to 'Create Tags', '/tags/new' %> |
            <%= link_to 'See Facts', '/facts' %> |
            <%= link_to 'See Tags', '/tags' %> |
            <%= link_to 'See Sources', '/sources' %>
        </h4>
    </div>
</div>
